<img src="#" />
<table>
    <tr>
        <td>Movie Title</td>
        <td>The Rock</td>
    </tr>
    <tr>
        <td>Release Date</td>
        <td>July 11, 1999</td>
    </tr>
    <tr>
        <td>MPAA Rating</td>
        <td>R</td>
    </tr>
    <tr>
        <td>Genre</td>
        <td>Action</td>
    </tr>
    <tr>
        <td>Runtime</td>
        <td>1h 50m</td>
    </tr>
    <tr>
        <td>Directed By</td>
        <td>James Franco</td>
    </tr>
    <tr>
        <td>Studio</td>
        <td>Warner Bros</td>
    </tr>
    <tr>
        <td>Actors</td>
        <td>Nicholas Cage<br/>Sean Connery</td>
    </tr>
    <tr>
        <td>Synopsis</td>
        <td>Stanley Goodspeed, who lives in Washington D.C., is a biochemist who works for the FBI. Soon after his fiancée Carla Pestalozzi announces that she is pregnant, Stanley gets a call from FBI director James Womack. Womack tells Stanley that San Francisco's Alcatraz Island has been taken hostage, along with 81 tourists, by marine General Francis Xavier Hummel who, for years, has been protesting the government's refusal to pay benefits to families of war veterans who died during covert military operations.</td>
    </tr>
    <tr>
        <td>Owner Rating</td>
        <td>5 stars</td>
    </tr>
    <tr>
        <td>Copies</td>
        <td>3</td>
    </tr>
</table>

