

<div class="row">
    <div class="col-md-2">
        <img src="http://sim03.in.com/62/bb6280caeda6f653c266599b00ecccae_pt_xl.jpg" width="150">
    </div>
    <div class="col-md-8">
        <h3>The Rock</h3>
    </div>
</div>
<br/>

<div class="row">
    <div class="col-md-2">
        <b>Release Date</b>
    </div>
    <div class="col-md-6">
        July 11, 1999
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-2">
        <b>MPAA Rating</b>
    </div>
    <div class="col-md-6">
        R
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-2">
        <b>Genre</b>
    </div>
    <div class="col-md-6">
        Action
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-2">
        <b>Runtime</b>
    </div>
    <div class="col-md-6">
        1h 50m
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-2">
        <b>Director</b>
    </div>
    <div class="col-md-6">
        James Franco
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-2">
        <b>Studio</b>
    </div>
    <div class="col-md-6">
        Holllywood Studios
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-2">
        <b>Cast</b>
    </div>
    <div class="col-md-6">
        Natalie Portman<br/>
        Emma Watson<br/>
        Jessica Chastain
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-2">
        <b>Synopsis</b>
    </div>
    <div class="col-md-6">
        Stanley Goodspeed, who lives in Washington D.C., is a biochemist who works for the FBI. Soon after his fiancée Carla Pestalozzi announces that she is pregnant, Stanley gets a call from FBI director James Womack. Womack tells Stanley that San Francisco's Alcatraz Island has been taken hostage, along with 81 tourists, by marine General Francis Xavier Hummel who, for years, has been protesting the government's refusal to pay benefits to families of war veterans who died during covert military operations.
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-2">
        <b>Owner Rating</b>
    </div>
    <div class="col-md-6">
        5 stars
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-2">
        <b>Copies</b>
    </div>
    <div class="col-md-6">
        10
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-2">
        <a href="#" class="btn btn-default">Edit</a>
        <a href="#" class="btn btn-default">Return</a>
    </div>
</div>





