@model DVDLibraryMVC.Models.SelectUserViewModel



    <form class="form-horizontal " action="/User/UserRentalList" method="GET">
        <fieldset>
            <legend>Select User</legend>
            <div class="form-group">
                <div class="col-lg-3">
                    @Html.DropDownList("UserID", Model.UsersDropDown, "(select)", new {@class = "form-control", id = "inputUser"})
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </fieldset>
    </form>
