@using System.Diagnostics.Eventing.Reader
@model DVDLibraryMVC.Models.RentalListViewModel

@{
    ViewBag.Title = "UserRentalList";
}

<h2>Your Rentals</h2>

@if (Model.Rentals.Count == 0)
{
    <br/>
    <h4>You have no movies out for rent.</h4>
    <br/>
}

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Date Borrowed</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model.Rentals)
            {
                <tr>
                    <td>@(Model.Rentals.IndexOf(m) + 1)</td>
                    <td>@m.Title</td>
                    <td>@m.DateBorrowed.ToShortDateString()</td>
                    <td><a href="/User/ReturnMovie?RentalId=@m.RentalID">Return Rental</a></td>
                </tr>
            }
        </tbody>
    </table>





